.main-hbox {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-spacing: 0;
}

.sidebar-menu {
    -fx-spacing: 15;
    -fx-padding: 15 25 15 25;
}

.sidebar-menu-anchorpane {
    -fx-background-color: #473F78;
    -fx-background-radius: 25;
    -fx-background-insets: 2;
}


.mainview {
    -fx-background-color: #ffffff;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.mainb-hbox {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-spacing: 15;
}

.mainb-label {
    -fx-font-family: 'Inter';
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.mainb-icon {
    -fx-icon-color: #9B94C7;
    -fx-effect: dropshadow(gaussian, rgba(41, 31, 56, 0.56), 5, .4, 0, 2);
}

.title-text {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 18;
}

.sub-text {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
}

.mbbutton-text {
    -fx-font-weight: bold;
}

.text-field {
    -fx-padding: -1;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.808) transparent;
    -fx-border-width: 0 0 1px 0;
}

.check-box {
}

.check-box .box{
    -fx-background-color: #ffffff;
    -fx-border-color: #473f78;
}

.check-box:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.check-box:selected .box {
    -fx-background-color: #473F78;
}

.check-box:selected .mark {
    -fx-background-color: #ffffff;
}

.itemline {
    -fx-background-color: #F4F5F6;
    -fx-background-radius: 30;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.itemline-edit-button {
    -fx-fill: #473F78;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, .4, 0, 2);
}

.itemline-accept-button {
    -fx-fill: #2C6E49;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, .4, 0, 2);
}

.itemline-cancel-button {
    -fx-fill: #B80C09;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, .4, 0, 2);
}

.itemline-hover:hover {
    -fx-opacity: .8;
}

.itemline-desc-popup {
    -fx-background-color: #f4f5f6;
    -fx-background-radius: 15;
}

.soft-drop-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, .4, 0, 2);
}

.criar-manutencao {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
}

.create-window-botao {
    -fx-background-radius: 15;
}

.create-botao {
    -fx-background-radius: 90;
}

.lista-crud {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
}

.list-cell-crud {
    -fx-background-color: transparent;
    -fx-padding: 0;
}